.basic-modal-container {
  position: absolute;
  box-shadow: var(--dark-shadow);

  display: grid;
  gap: 1rem;
  background-color: #fff;
  width: 80vw;

  top: 20vh;
  left: 10%;
  z-index: 2;
}

.basic-modal-details {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.edit-modal-container {
  z-index: 3;
}

.delete-modal-container {
  z-index: 4;
}

@media screen and (min-width: 768px) {
  .basic-modal-container {
    left: 30%;
    width: 40vw;
  }
}
