.notification-container {
  border-left: solid 3px var(--success-color);
  position: fixed;
  z-index: 2;
  background-color: var(--success-background-color);
  left: 12vw;
  top: 12vh;
  box-shadow: var(--dark-shadow);
}

.error-container {
  border-left: solid 3px var(--error-color);
  background-color: var(--error-background-color);
}

.error-description {
  background-color: var(--fill-in-color);
}

.error-title {
  color: var(--error-color);
}

@media screen and (min-width: 768px) {
  .notification-container {
    left: 38vw;
  }
}
